.App {
  text-align: center;
  background-color: #ddd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #aaa;
}

.video-caret {
  padding: 25px;
}

.search-bar {
  margin-bottom: 10px;
  display: flex;
}

.search-bar-input {
  padding-right: 15px;
}

.search-button {
  padding-top: 12.5px;
}

.search-loading {
  padding-top: 15px;
  margin-left: -2.5px;
}

.ul-list {
  padding-top: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: inline;
  max-width: 500px;
}

.li-item {
  display: inline;
  cursor: pointer;
  padding-right: 10px;
}

.more-button {
  margin-top: 10px;
}

.thumbnail-active {
  border: 5px solid #999;
}

/* responsive styles */
@media (max-width: 760px) {
  .yt-embed {
    width: 320px;
    height: 240px;
  }

  .search-bar-input {
    padding-right: 5px;
  }

  .search-bar {
    padding-left: 15px;
  }

  .search-button {
    margin-left: 5px;
    padding-right: 10px;
  }

  .search-loading {
    margin-left: 5px;
    padding-right: 10px;
    padding-top: 10px;
  }
}
